a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.header-top{
    background-color:#0063AD ;
    padding: 10px 0;

    .container {
        width: 80%;
        margin: auto;

        .header-top-wrap{
            display: flex;
            align-items: center;
            justify-content: space-between;


            .header-left{
                display: flex;
                align-items: center;
                gap: 10px;

                 a{
                    color: #fff;
                    display: flex;
                    align-items: center;
                    font-size: 13px;
                    font-weight: 500;
                }

                a svg{
                    margin-right: 5px;
                    fill: orange;
                }
            }

            .header-to-right  {
                background-color: #2980b9;
                padding: 5px 20px;
                border-radius: 15px;

                .header-top-form{
                    display: flex;
                    gap: 20px;
                }
                .header-top-form a{
                    font-size: 13px;
                    color: #fff;
                }
                .header-top-form a:hover{
                    color: orange;
                }
            }
        }
    }
}
